.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 12px;
}

.CongratsModal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 12px;
}

.Overlay {
  position: fixed;
  background-color: rgba(0, 84, 145, .5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .Users-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .Users-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.Users-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  } */
